---
layout: null
permalink: atom.xml
---
<?xml version="1.0"?>
<feed xmlns="http://www.w3.org/2005/Atom" xmlns:webfeeds="http://webfeeds.org/rss/1.0">
	<title>Simply Explained</title>
    <subtitle>Personal blog of Xavier Decuyper. In-depth, technical blog posts, and Simply Explained videos.</subtitle>
    
    <link rel="self" type="application/atom+xml" href="{% baseUrl %}/atom.xml"/>
    <link rel="alternate" type="text/html" href="h{% baseUrl %}"/>
    
    <updated>{{ "now" | date: "%Y-%m-%dT%H:%M:00Z" }}</updated>
    <id>{% baseUrl %}</id>

    <author>
        <name>Xavier Decuyper</name>
        <email>hi@simplyexplained.com</email>
    </author>

    <webfeeds:icon>{% baseUrl %}/assets/img/logo-rounded.svg</webfeeds:icon>
    <webfeeds:logo>{% baseUrl %}/assets/img/logo-rounded.svg</webfeeds:logo>
    <webfeeds:accentColor>E80001</webfeeds:accentColor>

    {% for post in collections.posts limit:40 -%}
        <entry>
            <title type="html">{{ post.data.title | escape | strip }}</title>
            <link type="text/html" href="{% baseUrl %}{{ post.url }}"/>
            <id>{% baseUrl %}{{ post.url }}</id>
            <updated>{{ post.date | date: "%Y-%m-%dT%H:%M:00Z"}}</updated>

            <author>
                <name>Xavier Decuyper</name>
                <uri>{% baseUrl %}</uri>
            </author>

            {%- if post.data.tags -%}
                {%- for tag in post.data.tags %}
                    <category term="{{tag}}" />
                {%- endfor %}
            {%- endif %}

            <content type="html">
                <![CDATA[
                    {{ post.data.page.excerpt | md | strip_html | truncate:350 | strip_newlines }}
                    {% if post.data.thumbnail %}
                        <img src="{% baseUrl %}{{post.data.upload_directory}}thumb_master.jpg" class="webfeedsFeaturedVisual">
                    {% endif %}
                ]]>
            </content>
        </entry>
    {% endfor %}
</feed>